

/*-------------------------------GENERAL-------------------------------*/
* {				
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
}

@font-face {
	font-family: 'Yantramanav';
	src: url('../polices/Yantramanav/Yantramanav-Light.ttf'); 
}

body {
	background-color: white;
}

/*
.container-fluid {
	border: 2px solid blue;
}

.container {
	border: 2px solid green;
}

.row {
	border: 2px solid purple;
}

[class*="col-"] {
  border: 2px solid skyblue;
}
*/

/*-------------------------------HEADER-------------------------------*/

img#logo {
	display: block;
    margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;
	width: 150px;
}

/*-------------------------------NAVIGATION-------------------------------*/

nav {
	padding: 20px 0px;
	/*border: 2px solid green;*/
}

ul {
	margin: auto;
	max-height: 65px;
	text-align: center;
	border: 2px solid transparent;
}

/*nagigation principale*/
@media screen and (min-width: 992px) {
	ul {
		width: 70%;
	}
}

@media screen and (max-width: 992px) {
	ul {
		width: 100%;
	}
}


li {
	display: inline-block;
	padding: 15px 0px;
	margin: 0px 5px;
	width: 17%;
	background-color: white;
	text-align: center;
	border-top: 1px solid black;
	transition: all 0.2s;
}

li a {
	font-family: 'Yantramanav', sans-serif;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

/*navigation active*/
li.active {
	border-top: 4px solid #D75FA6; /*rose*/
}

li.active a {
	color: #D75FA6; /*rose*/
}

/*sous navigation*/
ul.snav {
	display: none;
}

ul.snav li {
	position: relative;
	top: 12px;
	margin: 0;
	width: 100%;
	background-color: white;
	z-index: 2;
}

ul.snav li a {
	color: black;
}

/*elements de dynamique*/
li:hover {
	border-top: 4px solid #D75FA6; /*rose*/
}

li:hover a {
	color: #D75FA6; /*rose*/
	text-decoration: none;
}

li a:focus {
	text-decoration: none; 
}

ul.snav li:hover a {
	color: #D75FA6; /*rose*/
}

li:hover ul.snav { 
	display: table-row;
}









